<div class="mains-index-wrapper">
    <h1 class="text-center text-white"><%= Date.current.next_month.month %> 月勤務表</h1>
    <table>
      <tr>
        <th class="fixed01"> </th>
        <th class="fixed02"> </th>
        <% (1..@day).each do |day| %>
          <th><%= day %></th>
        <% end %>
      </tr>
      <%= form_tag(nurse_work_schedules_path, method: :post) do |w| %>
      <% i = 1 %>
        <% @nurses.each do |nurse| %>
          <tr>
            <td class="fixed01">
              <%= nurse_select(nurse).employment_i18n %> 
              <%# gemにenum_helpをインストールしてconfig/application.rbにconfig.paths.add 'lib', eager_load: trueをいれ、term.employmentのカラム名の後に_i18nを入れる%>
            </td>
            <td class="fixed02">
              <%= link_to nurse_path(nurse.id) do %>
                <%= nurse.name %>
              <% end %>
            </td>
          <%# binding.pry %>
              <% @day.times do |t| %>
                
                <td>
                  <%= select_tag "work_type_#{i}[work_type]", options_for_select(select_condition(nurse), 0), class: 'form-control-work-type' %>
                  <%= hidden_field_tag "work_type_#{i}[datetime]", "#{Date.current.next_month.year}-#{Date.current.next_month.month}-#{t+1}" %>
                  <%= hidden_field_tag "work_type_#{i}[nurse_id]", nurse.id%>
                </td>
              
                <% i += 1 %>
              <% end %>
          </tr>
        <% end %>
        <%= submit_tag( "登録", class: 'btn-block btn-white' )%>
      <% end %>
    </table>
</div>

  <%#= select_tag "#{nurse.name}#{t+1}[work_type]", options_for_select(select_condition(nurse), 0), class: 'form-control-work-type' %>
  <%#= hidden_field_tag "#{nurse.name}#{t+1}[datetime]", "#{Date.current.next_month.year}-#{Date.current.next_month.month}-#{t+1}" %>
  <%#= hidden_field_tag "#{nurse.name}#{t+1}[nurse_id]", nurse.id%>