<div class="nurse-work-schedule-wrapper">
    <h1 class="text-center text-white"><%= @month %>月勤務表</h1>
    <table>
      <tr>
        <th class="fixed01"> </th>
        <th class="fixed02"> </th>
        <% @day.times do |day| %>
          <th><%= "#{day+1}" %></th>
        <% end %>
      </tr>
      
        <% @nurses.each do |nurse| %>
          <tr>
            <td class="fixed01">
              <%= nurse_select(nurse).employment_i18n %> 
              <%# gemにenum_helpをインストールしてconfig/application.rbにconfig.paths.add 'lib', eager_load: trueをいれ、term.employmentのカラム名の後に_i18nを入れる%>
            </td>
            <td class="fixed02">
              <%= link_to nurse_path(nurse.id) do %>
                <%= nurse.name %>
              <% end %>
            </td>
              <% @day.times do |t| %>
                <td>
                  <%= link_to edit_nurse_work_schedule_path(@nurse_work_schedules.where(nurse_id: nurse.id, work_day: Time.zone.parse("#{params[:year_date][:year]}-#{params[:month_date][:month]}-#{t+1}")).ids), method: :get do %>
                    <%= work_type_view(nurse)[t]%>
                  <% end %>
                </td>
              <% end %>
          </tr>
        <% end %>
    </table>
</div>