<div class="nurse-work-schedule-wrapper">
    <h1 class="text-center text-white">10月勤務表</h1>
    <table>
      <tr>
        <th class="fixed01"> </th>
        <th class="fixed02"> </th>
        <%# .each do |day| %>
          <th><%= "day" %></th>
        <%# end %>
      </tr>
      
        <% @nurses.each do |nurse| %>
          <tr>
            <td class="fixed01">
              <%= nurse_select(nurse).employment_i18n %> 
              <%# gemにenum_helpをインストールしてconfig/application.rbにconfig.paths.add 'lib', eager_load: trueをいれ、term.employmentのカラム名の後に_i18nを入れる%>
            </td>
            <td class="fixed02">
              <%= link_to nurse_path(nurse.id) do %>
                <%= nurse.name %>
              <% end %>
            </td>
              <% 30.times do |t| %>
                
                <td>
                  <%= t %>
                </td>
              <% end %>
          </tr>
        <% end %>
        
    </table>
</div>