<div class="nurses-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 nurses-new-container">
        <h1 class="text-center text-white">ログイン</h1>
        <%= form_for :login, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :"所属", class: "text-white" %>
            <%= f.select :affiliation, options_for_select_from_enum(Nurse, :affiliation), class: "form-control" %>
          </div>
           <div class="form-group">
            <%= f.label :"職員ID", class: 'text-white' %>
            <%= f.text_field :staff_id, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "text-white" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <%= f.submit "ログイン", class: "btn-block btn-white" %>
        <% end %>
      </div>
    </div>
  </div>
</div>