<div class="terms-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 terms-new-container">
        <h1 class="text-center text-white">雇用条件</h1>
        <h2 class="topic-author">
          <%= @nurse.name %>
        </h2>
        <%# binding.pry %>
          <div class="form-group">
            <%= "所属" %>
            <%= Department.find_by(id: @nurse.department_id).department %>
          </div>
          <div class="form-group">
            <%= "雇用形態" %>
            <%= @term.employment_i18n %>
          </div>
          <div class="form-group">
            <%= "日勤" %>
            <%= term_show_shift_ture_false[0] %>
          </div>
          <div class="form-group">
            <%= "夜勤" %>
            <%= term_show_shift_ture_false[1] %>
          </div>
          <div class="form-group">
            <%= "夜勤明け" %>
            <%= term_show_shift_ture_false[2] %>
          </div>
          <%= link_to edit_term_path(@term.id), method: :get do%>
            <%= "編集" %>
          <% end %>
          <%= link_to '戻る', nurses_path,class: 'text-white' %>
      </div>
    </div>
  </div>
</div>