<div class="terms-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 terms-new-container">
        <h1 class="text-center text-white">雇用条件</h1>
        <h2 class="topic-author">
          <%= @nurse.name %>
        </h2>
           <div class="form-group">
            <%= "雇用形態"  %>
            <%= link_to @term.employment_i18n, "#", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= "日勤"  %>
            <%= link_to term_show_shift_ture_false[0], "#", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= "夜勤"  %>
            <%= link_to term_show_shift_ture_false[1], "#", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= "夜勤明け"  %>
            <%= link_to term_show_shift_ture_false[2], "#", class: 'form-control' %>
          </div>
          
      </div>
    </div>
  </div>
</div>