<div class="terms-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 terms-new-container">
        <h1 class="text-center text-white">産休・育児休暇</h1>
        <h2 class="topic-author">
          <%= @nurse.name %>
        </h2>
        <%= form_for @leave, url: leaves_create_path do |f| %>
          <div class="form-group">
            <%= f.label :"休暇種類", class: 'text-white' %>
            <%= f.select :leave_type, options_for_select_from_enum(Leave, :leave_type), class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :"開始日", class: 'text-white' %>
            <%= f.date_select :start_at, {},  class: 'form-control date-picker' %>
          </div>
          <div class="form-group">
            <%= f.label :"終了日", class: 'text-white' %>
            <%= f.date_select :end_at, {},  class: 'form-control date-picker' %>
          </div>
          
          <%= f.hidden_field:nurse_id, :value => params[:id] %>

          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>
        <%= link_to '戻る', nurse_path(@nurse.id),class: 'text-white' %>
      </div>
    </div>
  </div>
</div>