<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">職員一覧</h1>
    <div class="row">
      <% @nurses.each do |nurse| %>
        <div class="col-md-3">
          <%= link_to nurse.name, nurses_path(nurse.id), class: 'btn btn-block btn-white' %>
        </div>
        <div class="col-md-offset-1 col-md-2">
          <% term = @terms.find_by(nurse_id: nurse.id) %>
          <% if term.present? %>
            <%= link_to "雇用条件", term_path(nurse.id), class: 'btn btn-block btn-white' %>
          <% else %>
            <%= link_to "雇用条件", new_term_path(nurse.id), class: 'btn btn-block btn-white' %>
          <% end %>
        </div>
        <div class="col-md-offset-1 col-md-2">
          <% hope_holiday = @hope_holidays.find_by(nurse_id: nurse.id) %>
          <% if hope_holiday.present? %>
            <%= link_to "希望休", "#", class: 'btn btn-block btn-white' %>
          <% else %>
            <%= link_to "希望休", "#", class: 'btn btn-block btn-white' %>
          <% end %>
        </div>
        <div class="col-md-offset-1 col-md-2">
          <% leave = @leaves.find_by(nurse_id: nurse.id) %>
          <% if leave.present? %>
            <%= link_to "長期休暇", "#", class: 'btn btn-block btn-white' %>
          <% else %>
            <%= link_to "長期休暇", "#", class: 'btn btn-block btn-white' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>