<div class="mains-index-wrapper">
    <h1 class="text-center text-white"><%= Date.current.next_month.month %> 月勤務表</h1>
    <table>
      <tr>
        <th class="fixed01"> </th>
        <th class="fixed02"> </th>
        <% (1..@day).each do |day| %>
          <th><%= day %></th>
        <% end %>
      </tr>
      <% @nurses.each do |nurse| %>
        <tr>
          <% @terms.each do |term| %>
            <td class="fixed01">
              <%= term.employment_i18n %> 
              <%# gemにenum_helpをインストールしてconfig/application.rbにconfig.paths.add 'lib', eager_load: trueをいれ、term.employmentのカラム名の後に_i18nを入れる%>
            </td>
            <td class="fixed02">
              <%= link_to nurse_path(nurse.id) do %>
                <%= nurse.name %>
              <% end %>
            </td>
              <% @day.times do |t| %> 
                <td>
                  <%= form_for @nurse_work_schdules, url: "#" do |w| %>
                    <% w.select :work_type, options_for_select_from_enum(NurseWorkSchedule, :work_type), class: 'form-control' %>
                  <% end %>
                </td>
              <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
</div>
